# Student Activity: Reading Stocks Data from a CSV

## 1. Import the pandas library as _pd_

In [2]:
# initial imports
import pandas as pd
from pathlib import Path

## 2. Create a dataframe reading a CSV file

In [3]:
# set the file path
shopify_data = Path("../Resources/shopify_stock_data.csv")

# create a Pandas dataframe from a csv file
shopify_dataframe = pd.read_csv(shopify_data)

## 3. Exploring the data

In [5]:
# get the first 10 rows from the dataframe
shopify_dataframe.head(10)

   5/21/2015 16:00:00  31.25  211058  35.03  35.03.1     30
0  5/22/2015 16:00:00  34.94  224174  32.32    38.00  32.00
1  5/25/2015 16:00:00  37.26  105460  35.00    37.47  35.00
2  5/26/2015 16:00:00  36.92   75935  37.26    37.69  36.30
3  5/27/2015 16:00:00  34.50  135778  38.00    38.16  33.63
4  5/28/2015 16:00:00  34.00   28756  34.60    34.60  33.14
5  5/29/2015 16:00:00  33.52   15319  33.71    34.11  33.35
6   6/1/2015 16:00:00  33.85    8839  33.73    34.27  33.52
7   6/2/2015 16:00:00  33.13    7318  34.72    34.72  33.13
8   6/3/2015 16:00:00  34.19   29821  33.98    34.26  33.00
9   6/4/2015 16:00:00  33.45   32221  34.99    34.99  31.88

## 4. Fixing column names

In [7]:
# set colum names
col_names = ["date", "close", "volume", "open", "high", "low"]

#recreate the dataframe
shopify_dataframe = 

# add columns names

## 5. Get the first 10 rows

In [ ]:
# get the first 10 rows from the dataframe

## 6. Get the bottom 10 rows

In [ ]:
# get the bottom 10 rows from the dataframe